.layer-card-list {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
    
    &.-action {
        > .layer-card {
            background: linear-gradient(to right, $black 36px, $white 36px);
            order: 2;
            > .action-panel {
                @include invisible;
            }
            > .layer-actions {
                @include disabled;
            }
            > .layer-text > .checkbox-label {
                > .checkbox {
                    + .icon:after {
                        border-color: $white;
                        background-color: $black;
                        content: "\2002\2002";                        
                    }
                }
            }
            &.-on {
                > .layer-text > .checkbox-label {
                    > .checkbox {
                        + .icon:after {     
                            content: "\2002\2002";
                       }
                    }
                }
            }
            &.-selected {
                order: 1;
                > .layer-text > .checkbox-label {
                    > .checkbox {
                        + .icon:after {
                            color: $black;      
                            background-color: $white;    
                            content: "\e808";
                        }
                    }
                }
            }
        }
        &.-complete {
            @extend .-action;
            >.layer-card:not(.-selected) {
                @include disabled;
            }
        }
    }
        

    > .layer-card {
        margin: 0.5rem 2rem;
        background-color: $white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 1px -2px rgba(0,0,0,.01), 0 1px 5px 0 rgba(0,0,0,.01); 
        position: relative;
        > .layer-text {
            padding: 1rem;
            > .layer-actions {
                float: right;
            }
            > .dropdown {
                margin-top: 1em;
                margin-left: 2.5em;
                width: 75%;
            }
            > .checkbox-label {
                > .checkbox {
                    + .icon:after {
                        color: $white;      
                        background-color: $white;    
                        content: "\e808";
                    }
                }
            }
            &.-removed > .checkbox-label {
                > .checkbox {
                    + .icon:after {
                        background-color: $black;    
                        content: "\2002\2002";
                    }
                }
            }
        }
        > .layer-actions {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        &.-on > .layer-text > .checkbox-label {
            > .checkbox {
                + .icon:after {
                    content: "\e808";
                    color: $white;      
                    background-color: $black;    
                }
            }
        }
        &.-removed > .layer-text > .checkbox-label {
            > .checkbox {
                + .icon:after {
                    content: "\2002\2002"; 
                }
            }
        }

        > .action-panel {
            background-color: $white;        
            border-top: 1px solid $grey-light;
            font: $font-body;
            width: 100%;
            margin: 1rem 0;            
            > * {
                padding: 0 4.5rem;
                &:not(ul) {
                    padding-top: 1rem;
                }
            }
            > .slider-label {
                display: inline-flex;
                width: 100%;
                white-space: pre-wrap;
                justify-content: space-between;
                > .slider {
                    margin-left: 2em;
                }
            }
            > .legend {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid $grey-light;
                > .colorspan {
                    width: 50%;
                    height: 1.4rem;
                    display: inline-flex;
                    justify-content: space-between;
                    > span {
                        width: 9%;
                    }
                }
            }
            > ul {
                > li > .checkbox-label > .checkbox {
                    + .icon:after {
                        content: "\e808";
                        color: $white;      
                        background-color: $black;    
                    }
                }
                &.-inactive > li {
                    opacity: 0.5;
                    > :first-child.checkbox-label > .checkbox {
                        + .icon:after {
                            content: "\2002\2002";
                            background-color: $white;    
                        }
                    }
                }
            }

            &:not(.-expanded) {
                @include invisible;
            }  
        }
    }
}
