.params-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    > .param-item {
        display: block;
        > .desc {
            width: 6rem;
            margin-right: 4rem;
        }
        > .num {
            float: right;
        }
    }
    
}