.params-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    > ul {
        padding: 0;
        display: flex;
        clear: both;
        border: 0px solid;
        border-color: red;
        width:auto;  
        margin: 0.5em 0;
        > li {
            list-style: none;
            width: 10%;
            &:nth-child(3) {
                width: 70%
            }
        }
    } 
    > .header {
        font-weight: $font-weight-bold;
    }
}