.sidebar-section {    
    background-color: $grey-light;        
    display: inline-block;
    width: 36%;
    height: 100vh;
    overflow-y: auto;
    &.-collapsed {
        position: absolute;
        z-index: 10000;
        width: 14rem;
        height: auto; 
        > :not(.sidebar-header) {
            @include invisible;            
        };
        > .sidebar-header > [class*="info"] {
            @include invisible;
        };
    }
}