<div class="layer-card js-location-modeling">
  <!-- layer-text -->
  <div class="layer-text js-location-modeling">
    <label class="checkbox-label">
        <input class="checkbox js-location-modeling" type="checkbox" onclick="checkLayer(this)">                       
        <span class="icon"></span>
        Location Modeling
    </label>

    <select class="dropdown js-location-modeling">
            <option selected="selected" value="model1">LIKE Bars, DISLIKE Grocery Stores, DON'T CARE Rail Stops</option>
            <option value="model2">DISLIKE Bars, LIKE Grocery Stores, DON'T CARE Rail Stops</option>
            <option value="model3">DON'T CARE Bars, DISLIKE Grocery Stores, Like Rail Stops</option>
            <option value="model4">LIKE Bars, DON'T CARE Grocery Sores and Rail Stops</option>
            <option value="custom">Custom</option>                            
    </select>
  </div>
  <!-- end of layer-text -->
  <!-- layer-actions -->
  <div class="layer-actions">
    <button class="action icon-info js-info" onclick="showSetting(this)"></button>
    <button class="action icon-setting js-weight" onclick="showSetting(this); customModeling(this);"></button>
  </div>
  <!-- end of layer-actions -->
  <!-- action-panel group -->
  <!-- action-panel -->
  <div class="action-panel js-info">
    <p class="text">
      Try adjusting the weights below to find your ideal location. If you want to avoid rail stops, give them a negative weight.
      If you prefer bars, give them a positive weight.
    </p>
    <p class="legend">
      <span>Low</span>
      <span>
        <img src="assets/img/red-to-blue.png" alt="no legend">
      </span>
      <span>High</span>
    </p>
  </div>
  <!-- end of action-panel -->
  <!-- action-panel -->
  <table class="action-panel js-weight">
    <tr>
      <th></th>
      <th></th>
      <th>Factor</th>
      <th>Weight</th>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label">
            <input class="checkbox js-bars" type="checkbox" onclick="checkLayer(this)">                       
            <span class="icon"></span>
        </label>
      </td>
      <td>
        <select class="desc js-bars-weight">
            <option value="3">Near</option>
            <option value="-3">Far</option>
        </select>
      </td>
      <td>Bars</td>
      <td>
        <select class="num js-bars-weight">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label">
            <input class="checkbox js-grocery-stores" type="checkbox" onclick="checkLayer(this)">                       
            <span class="icon"></span>
        </label>
      </td>
      <td>
        <select class="num js-grocery-stores-weight">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-label">
            <input class="checkbox js-rail-stops" type="checkbox" onclick="checkLayer(this)">                       
            <span class="icon"></span>
        </label>
      </td>
      <td>
        <select class="desc js-rail-stops-weight">
            <option value="3">Near</option>
            <option value="-3">Far</option>
        </select>
      </td>
      <td>Rail Stops</td>
      <td>
        <select class="num js-rail-stops-weight">
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
        </select>
      </td>
    </tr>
  </table>
  <!-- end of action-panel -->
</div>
<!-- end of layer-card -->