<!-- layer-text -->
<div class="layer-text js-location-modeling">
  <label class="checkbox-label">
        <input class="checkbox js-location-modeling" type="checkbox" (click)="toggleLayer()">                       
        <span class="icon"></span>
        Location Modeling
    </label>
  <select #presetDropdown jsClass="location-modeling" class="dropdown" (input)="getPreset(presetDropdown.value)">
    <option *ngFor="let preset of lmPresets; index as i" [value]="preset.value">{{preset.text}}</option>
  </select>
</div>
<!-- end of layer-text -->
<!-- layer-actions -->
<div class="layer-actions">
  <button gdLayerActionBtn *ngFor="let action of lmLayerActions" [panelName]="action" (expandPanel)="expandPanel($event)" [class]="'icon-'+action"></button>
</div>
<!-- end of layer-actions -->
<!-- action-panel group -->
<!-- action-panel -->
<div class="action-panel" [class.-expanded]="infoPanel">
  <p class="text">
    This model uses the weighted overlay method, which break the location selection problem into three factors.
  </p>
  <p class="legend">
    Avoid
    <span class="colorspan"> 
        <span *ngFor="let color of colorPalette" [style.background-color]="color"></span>
    </span>
    Prefer
  </p>
</div>
<!-- end of action-panel -->
<!-- action-panel -->
<div class="action-panel" [class.-expanded]="weightPanel">
  <ul class="params-list">
    <header class="title">
      <h4>Factor</h4>
      <h4>Weight</h4>
    </header>
    <li *ngFor="let param of lmParams; index as i" [class]="param" [class.-inactive]="paramCheckbox.checked">
      <label class="checkbox-label">
          <input #paramCheckbox class="checkbox" type="checkbox" (click)="neglectParam(i)">                       
          <span class="icon"></span>
      </label>
      <select #descSelect class="desc" (input)="updateWeights(descSelect.classList, descSelect.value, i)">
          <option [value]="1" [selected]="this.lmWeights[i]>0">Near</option>
          <option [value]="-1" [selected]="this.lmWeights[i]<0">Far</option>
      </select>
      <span>{{param | slice:7 | rejoin:"_" | titlecase}}</span>
      <select #numSelect class="num" (input)="updateWeights(numSelect.classList, numSelect.value, i)">
        <option *ngFor="let val of this.lmParamsRange" [value]="val" [selected]="this.toAbs(this.lmWeights[i]) === val">{{val}}</option>
      </select>
    </li>
  </ul>
</div>
<!-- end of action-panel -->
<!-- action-panel -->
<div class="action-panel" [class.-expanded]="opacityPanel">
  <label class="slider-label">
        <span>Opacity:   <span>{{slider.value | percent:0}}</span></span>
        <input #slider class="slider" type="range" min="0" max="1" step="0.01" [value]="lmOpacity" (mouseup)="changeOpacity(slider.value)">
    </label>
</div>
<!-- end of action-panel -->