<gd-sidebar-header [class.-collaspsed]="isCollapsed" [(isCollapsed)]="isCollapsed" (isCollapsedChange)="forceMapResize()" class="sidebar-header"></gd-sidebar-header>
<div class="layer-card-list">
    <gd-layer-card #lm 
    [params]="paramsLM"
    [name]="'lm'" 
    [layerActions]="layerActionsLM"
    [(weights)]="weightsLM" (weightsChange)="onWeightsChange(weightsLM, 'lm')"
    [(opacity)]="opacityLM" (opacityChange)="onOpacityChange(opacityLM, 'lm')" [(show)]="showLM" (showChange)="onShowChange(showLM, 'lm')" [map]="map" class="layer-card js-location-modeling" (updateLM)="updateLayers($event)"></gd-layer-card>
</div>

<div class="layer-card-list">
    <gd-layer-card #lm 
    [params]="paramsLM"
    [name]="'chatta'" 
    [layerActions]="layerActionsLM"
    [(weights)]="weightsLM" (weightsChange)="onWeightsChange(weightsLM, 'lm')"
    [(opacity)]="opacityLM" (opacityChange)="onOpacityChange(opacityLM, 'lm')" [(show)]="showLM" (showChange)="onShowChange(showLM, 'lm')" [map]="map" class="layer-card js-location-modeling" (updateLM)="updateLayers($event)"></gd-layer-card>
</div>
