.checkbox-label {
    display: inline-flex;
    vertical-align: middle;
    > input {
        @include invisible;
    }
    > .checkbox {
        + .icon {
            margin-right: 1.5em;
        }
        + .icon:after {
            width: 1em;
            height:1em;
            border: 1px solid $black;
            border-radius: 2px;
            font-size: 1em;
            font-family: 'fontello';      
            content: "\e808";
        }
    }
}